<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lucas Ricci</title>
    {{ $style := resources.Get "/css/style.css" | fingerprint }}
    <link
        rel="stylesheet"
        href="{{ $style.RelPermalink }}"
        type="text/css"
        media="all"
    />
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
</head>

<body>

{{ partial "nav.html" . }}
<main class="content">
