<div class="site-contact">
	<div>
		<a href="https://linktr.ee/lucaslricci" target="_blank"
			><img
				src="/icons/Linktree.png"
				alt="linktree"
				height="64px"
				width="64px"
		/></a>
		<p>Linktr</p>
	</div>
	<div>
		<a href="https://www.linkedin.com/in/lucaslricci/" target="_blank"
			><img
				src="/icons/Linkedin.svg"
				width="64px"
				height="64px"
				alt="linkedin"
		/></a>
		<p>Linkedin</p>
	</div>
	<div>
		<a href="https://discord.com/users/286304385674248193" target="_blank"
			><img
				src="/icons/Discord.ico"
				width="64px"
				height="64px"
				alt="discord"
		/></a>
		<p>Discord</p>
	</div>
	<div>
		<a href="https://github.com/lucasricci" target="_blank"
			><img
				src="/icons/Github.svg"
				width="64px"
				height="64px"
				alt="github"
		/></a>
		<p>GitHub</p>
	</div>
	<div>
		<a href="https://www.youtube.com/@lucasricci" target="_blank"
			><img
				src="/icons/Youtube.png"
				width="64px"
				height="64px"
				alt="youtube"
		/></a>
		<p>YouTube</p>
	</div>
	<div>
		<a href="mailto:lr.lucasricci@gmail.com?subject=Contact from site"
			><img src="/icons/Gmail.ico" width="64px" height="64px" alt="gmail"
		/></a>
		<p>Email</p>
	</div>
</div>
