<h1>Projetos</h1>

<div>
	<ul class="site-projects">
		<li>
			<a
				href="https://github.com/lucasricci/lucas-ricci.com"
				target="_blank"
			>
				Personal Website
			</a>
		</li>
		<li>
			<a
				href="https://github.com/ManimCommunity/awesome-manim"
				target="_blank"
			>
				Awesome Manim
			</a>
		</li>
		<li>
			<a
				href="https://github.com/lucasricci/cryptography-tools"
				target="_blank"
			>
				Cryptography Tools
			</a>
		</li>
		<li>
			<a href="https://github.com/lucasricci/diceware" target="_blank">
				Diceware Password Generator
			</a>
		</li>
	</ul>
</div>
