<h1>Projetos</h1>
<p>~ ➡️ Trabalho em Progresso</p>

<div>
	<ul class="site-projects">
		<li>
			<a
				href="https://github.com/lucasricci/lucas-ricci.com"
				target="_blank"
			>
				Personal Website (~)
			</a>
		</li>
		<li>
			<a
				href="https://github.com/ManimCommunity/awesome-manim"
				target="_blank"
			>
				Awesome Manim ⭐
			</a>
		</li>
		<li>
			<a
				href="https://github.com/lucasricci/cryptography-tools"
				target="_blank"
			>
				Cryptography Tools (+Morse Code)
			</a>
		</li>
		<li>
			<a href="https://github.com/lucasricci/artoo-bot" target="_blank">
				Discord Bot in JS (~)
			</a>
		</li>
		<li>
			<a
				href="https://lucasricci.github.io/nft-preview-card-component/"
				target="_blank"
				>Visualização de NFT (Frontend Mentor)</a
			>
		</li>
		<li>
			<a
				href="https://lucasricci.github.io/qr-code-component/"
				target="_blank"
				>QR Code (Frontend Mentor)</a
			>
		</li>
		<li>
			<a href="https://lucasricci.github.io/card-page/" target="_blank"
				>Página de Cartão (Frontend Mentor ~)</a
			>
		</li>
		<li>
			<a
				href="https://lucasricci.github.io/desafio-abril/"
				target="_blank"
				>Barra de Comandos</a
			>
		</li>
	</ul>

	<h1>Contribuiu</h1>
	<ul className="site-projects">
		<li>
			<a href="https://github.com/ManimCommunity/manim" target="_blank">
				ManimCE
			</a>
		</li>
	</ul>
</div>
